img {
    height: auto;
    width: 500px;
}

.title {
    color:rgb(143, 61, 2);
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 70px;
    
}

.title.list {
    font-family: monospace;
    font-size: 15px
    
}

.title-2,
.title-3 {
    color: darkorange;
    font-family: monospace;
    font-style: normal;
    font-size: 30px;
}

.title-3 {
    font-size: 20px;
    color: orange;
}